@charset "utf-8";
/* CSS Document */

body{ margin:0px;padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:13px; }
.clear{clear:both;}
h1,h2,h3,h4,h5,h6,ul,img,a,p{margin:0px; padding:0px;text-decoration:none;list-style-type:none;border:0px;outline:none;}

@font-face {
    font-family: 'helvetica_blackregular';
    src: url('fonts/helvetica-black.eot');
    src: url('fonts/helvetica-black.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica-black.woff') format('woff'),
         url('fonts/helvetica-black.ttf') format('truetype'),
         url('fonts/helvetica-black.svg#helvetica_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Conv_HelveticaConBQ-LightItalic';
	src: url('fonts/HelveticaConBQ-LightItalic.eot');
	src: url('fonts/HelveticaConBQ-LightItalic.woff') format('woff'),
       url('fonts/HelveticaConBQ-LightItalic.ttf') format('truetype'),
       url('fonts/HelveticaConBQ-LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaConBQ-Bold';
	src: url('fonts/HelveticaConBQ-Bold.eot');
	src: url('fonts/HelveticaConBQ-Bold.woff') format('woff'), url('fonts/HelveticaConBQ-Bold.ttf') format('truetype'), url('fonts/HelveticaConBQ-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





/*********************************HeaderSection starts---------------------------------------*/
.container{ width:1000px; height:auto; margin:auto;}
.header_sectn{ clear:both; width:100%; height:auto; margin-top:30px;}
.upr_sec{clear:both; width:100%; height:auto; height:85px;}
.left_sec{ float:left; width:660px; height:auto;}
.logo{ float:left; width:245px; height:auto;}
.logo img{ float:left; width:234px; height:83px;}
.image1{ float:right; width:370px; height:auto; margin-top:19px;}
.image1 img{ float:right; width:369px; height:57px;}
.rgt_sec{ float:right; width:302px; height:auto; margin-top:10px;}
.rgt_upr{ float:left; width:100%; height:auto;}
.rgt_upr ul{ float:right; width:auto;}
.rgt_upr ul li{ float:left; font-size:14px;  font-family: 'helvetica_blackregular';  text-align:right; margin-left:10px; font-weight:normal; }
.rgt_upr ul li a{ color:#222222;}
.rgt_upr ul li:last-child{ margin-right:0px;}
.srch_div{ float:left; width:302px; height:33px; border:1px solid #dedede; border-radius:4px; margin-top:15px; }
.srch_div input.txt_box{ float:left; font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:left; text-indent:6px; color:#a9a9a9; width:260px; height:30px; border:none;border-top-left-radius: 4px;border-bottom-left-radius: 4px; line-height:30px;}
.srch_img{ float:right; width:15px; height:auto; margin:9px;}
.srch_img img{ float:right; width:15px; height:14px;}
.nav{ height:47px; clear:both; width:100%; background-color:#2e2e2e; margin-top:15px;}
.nav ul{ padding:0px; margin:0px; list-style:none;}
.nav ul li{ float:left; height:auto;font-size:32px; line-height: 47px; font-family: 'helvetica_blackregular';  text-align:left; padding:0px 3.2%; text-transform:uppercase;}
.nav ul li:last-child { padding:0px .03% 0px 3.2%;}
.nav ul li a{ color:#ffffff;}
.nav ul li:last-child{ margin-right:0px;}

/*********************************ContentSection starts---------------------------------------*/
.content{ clear:both; width:100%; height:auto; margin-top:17px; min-height:500px;}

.div_lft{ float:left; width:490px; border:1px solid #c7c7c7; background-image:url(../img/img3.png); height:485px;}
.div_txt{ float:left; width:304px; margin:26px;}
.titl{ float:left; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:28px; color:#3a3a3a; width:100%;}
.txt1{ float:left; text-align:left; font-family:Arial, Helvetica, sans-serif; color:#6a6a6a; font-size:14px; width:93%; line-height:23px; margin-top:14px;}
.div_btn{ float:left;  width:304px; margin:26px;position: relative;top: 202px;}
.div_btn input.btnn1{ float:left; width:123px; height:37px; border-radius:4px; cursor:pointer; background-image:url(../img/img4.png); font-size:16px; color:#ffffff; border:1px solid #000000;}
.div_rgt{ float:right; width:490px; border:1px solid #c7c7c7; background-image:url(../img/img5.png); height:485px;}
.banr{ background-image:url(../img/img6.png); width:100%; margin:12px 0; height:225px;}
.txt2{ float:right; width:427px; margin:35px 82px 0px 0px; color:#000000; font-size:63px; text-transform:uppercase; text-align:center; }
.txt2 span.span1{ color:#ff031a;}
.content_div2{ float:left; width:100%; height:auto; margin-top:14px;}
.div_head{ float:left; width:100%; height:50px; background-color:#2e2e2e; }
.txt_lft{ float:left; font-size:37px; line-height:51px; color:#FFF; margin-left:10px;font-family: 'helvetica_blackregular';}
.txt_lft span.span2{font-family: Arial, Helvetica, sans-serif;  font-size:38px; letter-spacing:1px; font-style:italic;}
.txt_rgt{ float:right;font-size:22.32px;font-family: 'helvetica_blackregular'; margin-right:20px;line-height: 51px; font-style:italic;}
.txt_rgt a{color:#FFF;}
.list1{ float:left; width:100%;margin-top:16px; height:auto;}
.list1 ul{ float:left; width:100%; height:auto;}
.list1 ul li{ float:left; width:116px; height:159px; border:1px solid #d2d2d2; margin-bottom:16px; border-radius:4px; margin:8px 0.3%;}
.list1 ul li img{ float:left; width:115px; height:159px; border-radius:4px;}
.list1 ul li:last-child{ margin-right:0px;}
.div_pic{ width:113px; height:123px; border:1px solid #d2d2d2;}
.div_pic  a{line-height:123px;}
.div_pic img { max-height: 100%; max-width: 100%; vertical-align: middle;}
.list2{ float:left; width:100%; margin-top:16px; height:auto;}
.list2 ul{ float:left; width:100%; height:auto;}
.list2 ul li{ float:left; width:115px; height:auto;margin-bottom:16px;margin-right:10px;}
.list_txt{ float:left; width:100%;margin-top:9px;}
.txt3{ float:left; text-align:left; font-size:13px; margin-bottom:5px; font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:bold; width:100%;}
.txtt3{ float:left; font-style:italic; text-align:left; font-size:13px; margin-bottom:5px; font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:bold; width:100%;}

.add_sec{ float:left; width:100%; height:92px; font-size:31px; font-weight:bold; color:#FFF; text-align:center;line-height: 94px; background-color:#c8c8c8;}

/*********************************FooterSection starts---------------------------------------*/

.footer_sec{ float:left; width:100%; border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5; margin-top:16px; margin-bottom:20px;}
.fotr_lft{ float:left; font-size:11px; font-family:Arial, Helvetica, sans-serif; text-align:left; color:#2d2d2d;line-height: 39px; margin-left:10px;}
.fotr_rgt{ float:right; width:295px; margin-right:5px;}
.fotr_rgt ul{ float:left; width:100%;}
.fotr_rgt ul li{ float:left;font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#2d2d2d;line-height: 39px; margin-right:8px;}
.fotr_rgt ul li a{color:#2d2d2d;}


/*********************************All product gallery starts---------------------------------------*/
.content_left{ float:left; width:182px; height:auto;}
.lft_head{ float:left; text-align:left; font-size:21.72px; color:#3f3f3f; font-family:Arial, Helvetica, sans-serif; text-align:left; width:100%;}
.lft_head span.span3{font-family: 'helvetica_blackregular'; font-size:20px;}
.category_sec{ float:left; width:100%; background-color:#f1f1f1; height:auto; margin-top:15px;}
.category_sec ul{ float:left; width:81%; height:auto; padding:18px;}
.category_sec ul li{ float:left; width:100%; height:auto; font-size:14px; margin-bottom:15px; font-family:Arial, Helvetica, sans-serif; text-align:left;}
.category_sec ul li a{ color:#1c1b1b;}
.category_sec ul li img{ float:left; width:7px; height:9px;margin-top: 3px; margin-right:6px;}
.content_rgt3{ float:left; width:786px; height:auto; margin-top:0px; margin-left:31px; }
.div1{ float:left; width:100%; height:auto;}
.srch_div1{ float:left; width:234px; height:33px; border:1px solid #dedede; border-radius:4px;}
.srch_div1 input.txt_box1{ float:left; font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:left; text-indent:6px; color:#a9a9a9; width:190px;height:30px; border:none;border-top-left-radius: 4px;border-bottom-left-radius: 4px; line-height:30px;} 
.div_rgt1{ float:right; width:256px; height:auto;}
.txt4{ float:left; text-align:left; font-size:18px; line-height:34px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#3f3f3f;}
.selct{ float:right; width:161px; height:auto; margin-top:5px; }
.selct select{ float:right; font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:left; color:#000000; text-indent:3px;width:161px;height:25px; border:1px solid #dedede; border-radius:4px; padding:2px 6px;}
.list3{ float:left; width:100%; margin-top:10px; height:auto;}
.list3 ul{ float:left; width:100%; height:auto;}
.list3 ul li{ float:left; width:145px; height:auto;margin-bottom:16px;margin-right:11px;}
.div_pic1{width:144px; height:192px; border:1px solid #d2d2d2; border-radius:4px;}
.div_pic1  a{line-height:192px;}
.div_pic1 img { max-height: 100%; max-width: 100%; vertical-align: middle;}
.txt5{ float:left; text-align:left; font-size:14.47px; margin-bottom:5px; font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:bold; width:100%;}
.txtt5{ float:left; font-style:italic; text-align:left; font-size:14.47px; margin-bottom:5px; font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:bold; width:100%;}

.more1{ float:left; background-color:#c0c2c1;line-height: 31px; margin-top:10px; font-size:14.47px; font-weight:bold; text-align:center; width:100%; color:#000000;}


/*********************************Commission starts---------------------------------------*/

.content_div3{ float:left; width:100%; height:auto;height:auto; margin-bottom:80px;}
.div_bck{ float:left; width:100%; height:auto;}
.div_img{ float:left; width:24px; height:26px;}
.txt6{ float:left; text-align:left; font-size:15px; font-family:Arial, Helvetica, sans-serif;line-height: 25px;  margin-left:5px;}
.txt6 a{color:#2f2f2f;}
.div2{ float:left; width:100%; height:auto; margin-top:15px;}
.txt7{ float:left; text-align:left; font-size:25px; font-weight:bold; color:#2c2c2c; font-family:Arial, Helvetica, sans-serif; width:100%;}
.div3{ float:left; width:100%; border-top:1px solid #e2e2e2; height:auto; margin-top:10px;}
.div4{ float:left; width:100%;height:auto; margin-top:15px;}
.div4_a{ float:left; width:394px;height:auto;}
.div4_lft{ float:left; text-align:left; font-size:18px; font-family:Arial, Helvetica, sans-serif; color:#808080;}
.div4_rgt{ float:right; text-align:left; font-size:18px; font-family:Arial, Helvetica, sans-serif; color:#383838;}
.div4_rgt1{ float:right; text-align:left; font-size:18px; font-family:Arial, Helvetica, sans-serif; color:#009003;}
.div4_lft input.btnn2{ float:left; font-size:18px; font-family:Arial, Helvetica, sans-serif; color:#FFF; background-image:url(../img/img18.png); height:34px; width:110px; border:0px; cursor:pointer; margin-top:10px;}




/*********************************portfolio starts---------------------------------------*/
.content_rgt5{ float:right; width:805px; height:auto;}
.prtflo_div{ float:left; width:100%; height:auto;height:auto;}
.content_left2{ float:left; width:174px; height:auto;}
.category_sec2{ float:left; width:100%;  height:auto; margin-top:15px;}
.category_sec2 ul{ float:left; width:100%; height:auto;}
.category_sec2 ul li{ float:left; width:100%; height:301px; font-size:14px; margin-bottom:26px; font-family:Arial, Helvetica, sans-serif; text-align:center; color:#a3a3a3;}
.category_sec2 ul li a{ color:#1c1b1b;}
.category_sec2 ul li span{ float:left; width:100%; height:auto; font-size:14px; margin-bottom:15px; font-family:Arial, Helvetica, sans-serif; text-align:center; color:#a3a3a3;}
.div_pic2{ float:left; width:172px; height:192px; border:1px solid #d2d2d2;}
.div_pic2 img{float:left; width:172px; height:192px; border-radius:4px;}
.port_txt{ float:left; text-align:left; font-size:14.47px; margin-bottom:5px; font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:bold; width:165px; background-color:#f4f4f4; margin: 4px 0px 1px 7px;}
.port_txt span{ float:right;  font-size:14.47px; margin-bottom:5px; font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:bold; width:auto; margin-right:5px;}
.list_4{ float:left; width:100%; margin-top:16px; height:auto;}
.list_4 ul{ float:left; width:100%; height:auto;}
.list_4 ul li{ float:right; width:174px; height:auto;margin-bottom:16px;margin-left:27px;}
.list2_txt{ float:left; width:100%; }
.port_txt2{ float:left; text-align:left; font-size:12px; margin-bottom:10px; font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:reguler; width:100%; border-bottom:2px solid #f4f4f4; height:68px; margin-top:5px;}
.div_pic3{ float:left; width:172px;; height:228px; border:1px solid #d2d2d2; text-align:center; font-size:26.64px; font-family:Arial, Helvetica, sans-serif; margin-bottom:10px;}
.category_sec2 ul li a{ color:#707070;}
.port_txt3{ float:left; text-align:left; font-size:14.47px; margin-bottom:5px; font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:bold; width:175px; background-color:#f4f4f4;}

.div_pic4{ float:left; width:100px;; height:auto;  text-align:center; font-size:26.64px; font-family:Arial, Helvetica, sans-serif; margin: 65px 0px 0px 30px;}
.category_sec2 ul li a{ color:#707070;}



/*********************************Profile starts---------------------------------------*/

.content_rgt{ float:left; width:100%; height:auto;}
.prfile_cntnt{ float:left;width:100%; height:auto;}
.prfile_rght{float:left; width:500px; height:auto;}
.rght_cntnt{float:left; width:auto; height:auto; border:1px solid #d2d2d2;}
.lft_cntnt{float:left; width:300px; height:auto; margin-left:15px;}
.lft_txt{float:left; width:auto; height:auto;}  
.lft_txt ul{ float:left; width:250px; height:auto;}
.lft_txt ul li{  width:auto; height:auto; font-family:Arial, Helvetica, sans-serif; font-size:20px;  font-size:20px;  font-weight:bold; text-align:left; margin-top:5px;}
.lft_txt ul li span{ float:left;width:139px; height:auto; font-family:Arial, Helvetica, sans-serif;color:#000; font-weight:bold; color:#767676;}
.prfle_btn{float:left; width:100%; height:auto; text-align: left; margin-top:100px;} 
.prfile_lft{float:left; width:420px; height:229px; border:1px solid #d2d2d2; margin-left:78px;}
.prfle_txt2{float:left; width:auto; height:auto;  font-family:Calibri; color:#F00; font-weight:bold; font-size:59px; margin:72px 0px 0px 100px;}
.prfle_mid{float:left; width:100%; height:auto; text-align:left; font-family:Calibri; color:#000; font-weight:bold; font-size:30px; margin-top:10px;}
.prfl_txt5{ float:left; text-align:left; font-size:14.47px; margin-bottom:5px; font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:bold; width:100%;}
.prfl_txt5 span{float:right; font-size:14.47px; margin-bottom:5px; font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:bold; width:auto;}



/***************Followed user******************/



.content_flwd{ float:left; width:992px; height:auto;}
.content_fwd{ float:left; width:992px; height:auto; margin-top:17px;}
.bk{float:left; width:8%; height:auto;font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000000; }
.bk span{float:left; margin-top:1px; }
.cntnt_fwd_main{float:left; width:100%; height:auto; border-bottom:1px solid #e2e2e2; }
.lft_hd{ float:left; text-align:left; font-size:30px; color:#3f3f3f; font-family:Arial, Helvetica, sans-serif; text-align:left; width:50%;font-weight:bold; margin-top:15px;}
.rt_head{float:right; text-align:left; font-size:20px; margin-top:26px; font-family:Arial, Helvetica, sans-serif; color:#707070; font-weight:bold; }
.txt_fwd{float:left; text-align:center; font-size:16px; font-family:calibri; color:#959595; width:100%;}
.list4{ float:left; width:100%; margin-top:24px; height:auto;}
.list4 ul{ float:left; width:100%; height:auto;}
.list4 ul li{ float:left; width:172px; height:auto;margin-bottom:16px;margin-right:33px;}
.div_pic1_fwd{ float:left; width:172px; height:205px; border:1px solid #d2d2d2; border-radius:4px;}
.div_pic1_fwd img{float:left; width:172px; height:205px; border-radius:4px;}


/***************product gllary men*****************/

.pgm_bnr{float:left; width:992px; height:442px; border:1px solid #c7c7c7; background:url(../img/pgm_bg.png) repeat-x}
.pgm_bnr2{float:left; width:299px; height:442px;}
.bnr_rt{float:left; width:600px; height:455px ; margin:20px 0px 0px 80px; }
.bnr_hd{float:left; font-size:28px; color:#3a3a3a; font-family: Arial, Helvetica, sans-serif; text-align:left; width:100%;}
.bnr_p{float:left; font-size:16px; color:#8d8d8d; font-family:Candara; text-align:left; width:100%; margin-top:10px; line-height:25px;}
.brnd{float:left; width:100%; height:auto;margin-top:25px;text-align:left;}
.by_nw_btn{float:left; width:100%; height:auto;margin-top:30px;text-align:left;}
.by_nw_btn a{}
.pgm_cntnt2{float:left;width:100%; height:auto;margin-top:18px;}
.trnd_hd{ float:left;  width:100%; background:#2e2e2e;}
.trnd_txt{float:left;text-align:left; font-size:41px; color:#fff; font-family:Arial, Helvetica, sans-serif;  width:20%;margin-left: 12px;}
.trnd_txt_rt{float: right;font-size: 20px;color: #fff;font-family: 'helvetica_blackregular';line-height:51px;margin-right: 16px; }
.list5{ float:left; width:100%; margin-top:16px; height:auto;}
.list5 ul{ float:left; width:100%; height:auto;}
.list5 ul li{ float:left; width:149px; height:auto;margin-bottom:16px;margin-right:16px;}




/**************Offer****************/

.ofr{float:left; width:100%; height:auto; border-bottom:1px solid #e2e2e2;font-family:Arial, Helvetica, sans-serif;  text-align:left; font-size:24px; font-weight:bold; color:#2c2c2c	; margin-top:10px; line-height:40px;}
.ofr_p{float:left; width:100%; height:500px; font-family:Arial, Helvetica, sans-serif;  text-align:center; font-size:50px; font-weight:bold; color:#2c2c2c	; margin:40px 0px 40px 0px;}


/**************my profile****************/


.content_pr{ float:left; width:992px; height:auto; margin-top:17px;}
.pr_1{float:left; width:1000px; height:auto; margin-top:0px; }
.pr_left{float:left; width:50%; height:auto;}

.pr_img{float:left; width:auto; height:auto;border: 1px solid #e2e2e2;}
.pr_mn{ float:left; width:288px; height:auto; margin:10px 0px 0px 24px;}
.pr_txt{float:left;text-align:left; font-size:19px; color:#767676; font-family:Arial, Helvetica, sans-serif;font-weight: bold;  width:100%;margin-left: 12px;}
.pr_txt span{text-align: left;font-size: 20px;color: #000;font-family: Arial, Helvetica, sans-serif;font-weight: bold;margin-left: 0px;float: right;width: 55%}
.pr_txt .labl { float:left; width: auto; color:#767676; }
.flw_btn{float:left; width:auto; height:auto; margin:91px 0px 0px 36px;; }
.flw_btn a{float:left;}
.pr_rt{float:left; width:49.7%; height:auto; }
.ad_spc{float:right; width:auto; height:auto;border:1px solid #b2b2b2;}
.ul_hd{float:left;text-align:left; font-size:22px; color:#000; font-family: Arial, Helvetica, sans-serif; width:100%;margin-top:27px;}
.ul_txt{ float:left; text-align:left; font-size:14.47px; margin-bottom:5px; font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:bold; width:100%;}
.ul_txt span{float:right; margin-left:5px;}
.list7{ float:left; width:100%; margin-top:30px; height:auto;}
.list7 ul{ float:left; width:100%; height:auto;}
.list7 ul li{ float:left; width:149px; height:auto;margin-bottom:16px;margin-right:21px;}
.list8{ float:left; width:100%; margin-top:16px; height:auto;}
.list8 ul{ float:left; width:100%; height:auto;}
.list8 ul li{ float:left; width:112px; height:auto;margin-bottom:16px;margin-right:14px;}
.div_pic5{ float:left; width:112px; height:122px; border:1px solid #d2d2d2;}
.div_pic5 img{float:left; width:112px; height:auto;}
.list7_a{ float:left; width:100%; margin-top:16px; height:auto;}
.list7_a ul{ float:left; width:100%; height:auto;}
.list7_a ul li{ float:left; width:149px; height:auto;margin-bottom:16px;margin-right:16px;}



/*************Individual product page***************/


.ppi_left{ width:30%; float:left; height:auto;}
.ppi_img{width:auto; height:auto;border: 1px solid #e2e2e2;}
.ppi_mn{width:475px; height:auto; margin:3px 0px 0px 0px;}
.ppi_txt{text-align:left; font-size:21px; color:#000; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.cst_div{font-size:17px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; margin-top:20px;}
.ppi_rt{float:left; width:46%; height:auto; }
.ppi_txt2{float:left;text-align:left; font-size:16px; border-bottom:1px solid #000; color:#6c6c6c; font-family:Arial, Helvetica, sans-serif;font-weight: bold;  width:96%;margin:22px 0px 0px 0 ;}
.ppi_txt3{float:left;text-align:left; font-size:12px; line-height:18px;color:#6c6c6c; font-family:Arial, Helvetica, sans-serif;font-weight: bold;  width:100%;margin:10px 0px 0px 0 ;}
.ppi_btn{ width:auto; height:auto; margin:24px 0px 0px 0;; }
.ppi_btn a{}
.ppi_btn2{ width:auto; height:auto; margin:17px 0px 0px 0;; }
.ppi_btn2 a{}


/*************Individual member pic***************/
.ppi_list{ float:left; width:100%; margin-left:1px; height:auto; margin-top:16px}
.ppi_list ul{ float:left; width:100%; height:auto;}
.ppi_list ul li{float: left;width: auto;height: auto;margin-right: 9px;}
.imp_txt{text-align:left; font-size:18px; color:#000;font-weight:bold; font-family:Arial, Helvetica, sans-serif;; width:80%;}
.imp_txt2{float:left;text-align:left; font-size:17px; border-bottom:1px solid #000; color:#6c6c6c; font-weight:bold; font-family:Arial, Helvetica, sans-serif;  width:96%;margin:0px 0px 8px 12px ;}
.imp_txt3{float:left;text-align:left; font-size:12px; line-height:18px;color:#000; font-family:Arial, Helvetica, sans-serif;  width:96%;margin:10px 0px 0px 12px ;}
.imp_lst{ float:left; width:20%; margin-left:25px; height:auto; margin-top:16px}
.imp_lst ul{ float:left; width:100%; height:auto;}
.imp_lst ul li{float: left;width: auto;height: auto;margin-bottom: 6px;margin-right: 9px;font-size: 20px;font-weight: bold; }
.imp_btn2{float:left; width:auto; height:auto; margin:0px 0px 0px 25px;; }
.imp_btn2 a{float:left;}
.trans{float:left; width:500px ; height:500px;background: white; border: 20px solid rgba(0, 0, 0, 0.3);}
.trans img{opacity:0.4;filter:alpha(opacity=40); /* For IE8 and earlier */}
img:hover{opacity:1.0;filter:alpha(opacity=100); /* For IE8 and earlier */}
.grnd_prize{ float: left;width: 337px;height: 50px;border: 4px solid #fff;border-radius: 30px;box-shadow: 1px 0px 13px 1px #b2b2b2;background: #e62626;text-indent: 6px;
font-size: 21px;text-align: left;line-height: 47px;color: #fff;}
.grnd_prize span{float: left;position: relative;bottom: 9px;}


/***********************gallery**************/

.content_rgt3{ float:left; width:786px; height:auto; margin-top:0px; margin-left:31px; }

.div1_txt{ float:left; width:100%; height:auto; font-family: Arial, Helvetica, sans-serif; font-size:14.47px; font-weight:bold; color:#444444; text-align:left; margin-top:10px; text-transform:uppercase;}



/***********************Mmy account**************/

.ma_hd{ float:left; text-align:left; font-size:23.72px; color:#3f3f3f; font-family:Arial, Helvetica, sans-serif; text-align:left; width:100%; font-weight:bold;}
.ma_right{ float:left; width:791px; height:auto;  margin:43px 0px 0px 20px;}
.mc_prf{ float:left; width:200px; height:auto;  }
.mc_prf_hd{float: left;font-family:Arial, Helvetica, sans-serif;font-size: 20px;color: #444444; font-weight:bold;}
.img_main{ float:left; width:187px; height:255px;background:#f4f4f4; margin-top:12px;}
.prf_img{float: left;width: 178px;height: 227px;padding: 2%;}
.img_ed{  font-family:Arial, Helvetica, sans-serif;  font-size:12px; color:#545454; width:42px; float:left;}
.img_ed img { float:left; margin-left:5px;}
.img_dwn_main{ float:left; width:100%; height:auto; margin:5px 0px 0px 2px;}
.img_ed span{ float: right;margin-left: 5px;line-height: 11px;}

.img_ed2{ float:right; width:60px; font-family:arial; font-size:12px; color: #545454;}
.img_ed2 img { float:right; margin-right:5px;}
.img_ed2 span{ float: left;margin-left: 5px;line-height: 11px;}
.ac_left{ float:left; width:330px; height:auto;}
.ac_txt_main{ float:left; width:100%; height:auto; border-bottom:1px solid #e2e2e2;}

.ac_hd{ float:left; text-align:left; font-size:20px; color:#3f3f3f; font-family:Arial, Helvetica, sans-serif; text-align:left; width:100%; font-weight:bold;}
.ac_hd span{ float:right;font-size: 13px;line-height: 27px;}

.account_sec{ float:left; width:62%; height:auto; margin-top:12px;}
.account_sec ul{ float:left; width:81%; height:auto;}
.account_sec ul li{ float:left; width:100%; height:auto; font-size:14px; margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; text-align:left; color:#4d4d4d;}
.ac_rt_txt{float: right;font-family: arial;font-size: 14px;color: #4d4d4d;margin-top: 11px;}
.ac_rt_txt a{float:left; color:#4d4d4d;}
.ac_txt2{ float:left; width:32%;}
.account_sec2{ float:left; width:100%; height:auto; margin-top:0px;}
.account_sec2_txt{float: left;text-align:left;width: 85%;height: auto;margin-top: 4px;margin-left: 30px;color: #000;font-size:16px;font-weight: bold;}
.account_sec2_txt span{ float:right;}
.account_sec3{ float:left; width:100%; height:auto; margin-top:0px;}
.account_sec3_txt{float: left;width: 85%;height: auto; text-align:left;margin-left: 30px;color: #767676;font-size:16px; margin-top:6px;font-weight: bold;}
.account_sec3_txt span{ float:right; color: #767676;}
.account_sec3_txt .labl {float:left;color: #000!important; }
.account_sec2_txt .labl {float:left;color: #000!important; }
.labl {float:left!important; margin-left:0px!important;}
.content_rgt2{ float:left; width:992px; height:auto; margin-top:20px; }
.ac_list_hd{ float:left; font-family:Arial, Helvetica, sans-serif; font-family:Arial, Helvetica, sans-serif; font-size:26px; font-weight:bold; color:#000; width:100%; text-align:left; border-bottom:1px solid #e2e2e2; margin-bottom:10px;}
.ac_list_hd span{ font-family:Arial, Helvetica, sans-serif; font-size:26px; color:#666666; }
.ac_list{ float:left; width:100%; margin-top:5px; height:auto;}
.ac_list ul{ float:left; width:100%; height:auto; margin:7px 0px 10px 0px;}
.ac_list ul li{ float:left; width:145px; height:auto;margin-bottom:16px;margin-right:20px;}
.ac_list_hd span.span4{font-family: 'Conv_HelveticaConBQ-LightItalic';
font-size: 26px;
letter-spacing: 1px;}





/* Common Styles */
a{color:#000;}
.left{float:left;}
.right{float:right;}
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}
.hidden{
	display:none;
}
p{margin:0 0 12px;}
h1, h2, h3, h4, h5{margin:0 0 12px;}
h1{font-size: 22px; font-weight: bold;}
input[type=button]::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
input[type=submit]::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
input[type=button],
input[type=submit] { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */

input[type=button],
input[type=submit],
.button {
	background-color:#ddd;
	border-radius:4px;
	text-indent:0;
	border:0;
	display:inline-block;
	color:#444;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:32px;
	line-height:32px;
	margin:0 10px 0 0;
	padding:0 15px;
	cursor:pointer;
	text-decoration:none;
	text-align:center;
	transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	box-shadow:0 0 1px 1px #ccc inset;
	-moz-box-shadow:0 0 1px 1px #ccc inset;
	-webkit-box-shadow:0 0 1px 1px #ccc inset;
}
input[type=button]:focus,
input[type=submit]:focus,
.button:active {
	position:relative;
	top:1px;
}
.button.primary {
	box-shadow:0 0 1px 1px #000 inset;
	-moz-box-shadow:0 0 1px 1px #000 inset;
	-webkit-box-shadow:0 0 1px 1px #000 inset;
	background-color:#444;
	color:#fff;
	text-shadow:1px 1px 0px #000;
}
.button.buy-btn {
	font-size:18px;
	height:40px;
	line-height:38px;
	padding:0 30px;
}
.button.med {
	font-size:18px;
	height:40px;
	line-height:38px;
	padding:0 30px;
}
.button.small {
	height:28px;
	line-height:28px;
	padding:0 15px;
}
.button.large {
	font-size:18px;
	height:50px;
	line-height:50px;
	padding:0 40px;
}
input[type=button]:hover,
input[type=submit]:hover,
.button:hover {
	border-color:#bbb;
	background-color:#ccc;
}
.button.primary:hover {
	border-color:#000;
	background-color:#000;
}
input[type=checkbox]{
	background:#fff;
	margin:0 5px 0 0;
	border:1px solid #999;
	border-radius:3px;
	box-shadow: 1px 1px 2px #bbb inset;
}
input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
select,
textarea{
	display:block;
	width:100%;
	padding:8px 0;
	text-indent:10px;
	background:#fff;
	max-width:450px;
	border:1px solid #999;
	border-radius:3px;
	box-shadow: 1px 1px 2px #bbb inset;
	font-size:13px;
}
select{
	padding:8px; text-indent:0px;
}
textarea{
	height:75px;
}
.error{border-color:#f00 !important;}
label{
}
form{
	border:0px solid #d0d0d0;
}
fieldset{
	padding:0;
	margin:0;
	border:0;
}

.hform fieldset{
	padding:0px;
}

form legend {
	background: none repeat scroll 0 0 #E5E5E5;
	display: block;
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 15px;
	padding: 13px 20px;
	text-shadow: 1px 1px 1px #FFFFFF;
	text-transform: uppercase;
	width: 100%;
}
form .input {
	display:block;
	margin:0 0 15px;
}
form .input  label{
	margin:0 0 5px;
	font-weight:bold;
	font-size:13px;
	display:block;
}
form .input  label.error,
label.error{
	color:#f00;
	margin:5px 0 0;
}
form .submit{
}

ul.listing{margin:15px 25px; list-style:disc;}

.custdrop{margin:0;}
.custdrop ul{position:absolute; z-index:9999; display:none; right:0; top:100%; left:0;border:1px solid #d0d0d0; background:#fff;}
.custdrop li{position:relative; white-space:nowrap; display:block;}
.custdrop ul li {border-bottom:1px solid #f0f0f0;}
.custdrop li .ftitle{display:block; font-weight:bold; line-height:30px; padding:0 100px 0 10px;border:1px solid #d0d0d0; cursor:pointer; background:url(../img/down.jpg) 100% 50% no-repeat;}
.custdrop ul li a{display:block; line-height:30px; padding:0 35px 0 10px; color:#666;}
.custdrop ul li a.asc,
.custdrop ul li a.desc{font-weight:bold; color:#000;}
.custdrop ul li a:hover{background:#f0f0f0;}

.floated .input{float:left; margin:0 15px 15px 0;}
.floated .input input{width:320px;}
.floated .advance {clear:both; background:#f0f0f0; border:1px solid #ddd; margin:0 0 10px; padding:10px 10px 0;}
.floated .submit{clear:both;}
.sec-title span{font-style:italic; color:#666;}
img{max-width:100%;}

/* Home Page */
.srch_div {border:0; position:relative;}
.srch_div form {display:block; width:100%; float:left;}
.srch_div form .input{padding:0; margin:0; float:left;}
.srch_div form .submit{position:absolute; right:0; top:0; margin:0; padding:0;}
.srch_div form .submit input:hover,
.srch_div form .submit input{
	margin:0;
	background:url(../img/img2.png) 50% 50% no-repeat transparent;
	border:0;
	height:32px;
	width:35px;
	text-indent:-999em;
	padding:0 15px;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.srch_div form .input label{display:none;}
.srch_div form .input  input[type=text]{
	border-color:#ccc;
	color: #666;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	height: 20px;
	padding:5px 40px 5px 0;
	line-height: 30px;
	text-align: left;
	text-indent: 6px;
	width: 260px;
}

.heading{
	clear:both;
	background-color: #2E2E2E;
	min-height:50px;
	display:block;
	width: 100%;
}
.heading h1{
	color: #FFFFFF;
	font-family: 'helvetica_blackregular';
	font-size: 37px;
	line-height: 50px;
	margin-left: 10px;
}
.heading h1 span{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 38px;
	font-style: italic;
	letter-spacing: 1px;
}
.heading .title-btn {
	color: #FFFFFF;
	float: right;
	font-family: 'helvetica_blackregular';
	font-size: 22.32px;
	font-style: italic;
	font-weight: normal;
	line-height: 50px;
	margin-right: 20px;
	margin-top: 0;
}
.heading a{color:#fff;}
.heading a:hover{}

/* Detail Page Style **/
.item-detail{padding-bottom:30px; border-bottom:1px solid #ddd; margin-bottom:30px;}
.image-box img{max-width:100%; max-height:100%;}
.image-box{float:left; width:290px;}
.item-info{float:left; width:500px; margin-left:20px;}
.item-action{float:right; width:170px;}

.image-box .main-image{display:block; height:368px; width:288px; margin:0 0 10px; border:1px solid #ddd;}
.image-box .main-image a{display:block; line-height:368px; height:100%; text-align:center;}
.image-box .main-image img{max-height:100%; vertical-align:middle; max-width:100%;}
.image-box .slideshow{display:block;position:relative;}
.image-box .slideshow ul{position:relative; height:100px; margin:0 -5px;}
.image-box .slideshow ul li{float:left; width:90px; height:100px; margin:0 5px;}
.image-box .slideshow ul li a{display:block;}
.image-box .slideshow ul li a img{}

.item-info .look-info{color: #000000; font-size: 18px;font-weight: bold; font-style:italic;border-bottom: 1px solid #000000; margin:0 0 10px;}
.item-info .look-info p{margin:0;}
.item-info .look-info a{ color: #6C6C6C;font-size: 17px;font-weight: bold;font-style:normal;}

.item-info .brand{color: #000000; font-size: 21px; font-weight: bold; font-style:italic; margin:0 0 0px;}
.item-info .item-title{color: #000000; font-size: 22px; font-weight: bold;}
.item-info .price{font-size: 17px; font-weight: bold; margin:25px 0;}

h3.subtitle{border-bottom: 1px solid #000000; color: #6C6C6C; font-size: 16px; font-weight: bold; text-align: left;}
.item-info .detail{margin: 0 0 25px; line-height:1.4; color:#444;}

.like-btn{padding-left:30px; height:30px; line-height:30px; background:url(../img/lk_it.png) 0 0% no-repeat; font-size: 20px; font-weight: bold; margin-bottom: 6px; margin-right: 9px; width: auto; display:block;}
.like-btn.unlike{background:url(../img/unlk_it.jpg) 0 2px no-repeat; line-height:1;}

.like-btn.small{padding-left:18px; height:18px; line-height:18px; background:url(../img/like.png) 0 1px no-repeat; font-size: 14px; font-weight: bold; display:block;}


.listing{margin:10px 0;}
.listing a{color:#3f3f3f;}
.listing ul{display:block; margin:0 -10px;}
.listing ul li{position:relative; float:left; margin:0 10px 25px; display:block; width:184px;}
.listing ul li .image{display:block; height:232px; border:1px solid #ddd; margin:0 0 10px;}
.listing ul li .image a{display:block; line-height:232px; height:100%; width:100%; text-align:center;}
.listing ul li .image img{max-height:99%; max-width:100%; vertical-align:middle;}
.listing .info{color: #444444; font-size: 14px; font-weight: bold; line-height:18px;}
.listing .info .i-title{color: #444444; display:block; font-size: 14px; font-weight: bold; margin-bottom: 5px;}
.listing .info .user-name{}
.listing .info .sact{position:absolute; top:207px; padding:5px; left:0; right:0; background:rgba(255,255,255,0.7);}
.del-icn{background: url(../img/cros.png) 5px 50% no-repeat; padding-left:20px;}

.price-box a{color:#000;}
.price-box .price{color:#f00;}
.lthru,
.price-box .price.lthru{text-decoration:line-through; margin-right:10px; color:#000;}
.price-box .sale-price{color:#f00;}

ul.cat_menu li a{background:url(../img/img13.png) 15px 50% no-repeat; padding-left:25px;}
ul.cat_menu li.parent > a{font-weight:bold;}
li.parent ul.cat_menu{margin-left:10px;}

.filter{display:block; margin:0 0 20px; height:25px;}
.filter ul.filter-menu{margin:0; padding:0; list-style:none;}
.filter ul.filter-menu li{float:left; margin-right:10px;}
.filter ul.filter-menu li a {
  background: url("../img/cros1.png") no-repeat scroll 100% 50% #E5E5E5;
  color: #333333;
  text-transform:capitalize;
  display: block;
  line-height: 25px;
  padding: 0 30px 0 10px;
}
.filter ul.filter-menu li.cat{display:none;}
.filter ul.filter-menu li a span{font-weight:bold; color:#000;}
.filter ul.filter-menu li a:hover{background-color:#ccc;}

/* USER PAGE STYLE */
.title-btn{margin-top:8px; font-weight:bold; }
.title {min-height:30px; margin:0 0 12px;}
.title .srch_div{margin:0px;}
.title h1{font-size:24px; clear:both;color: #3F3F3F; margin:0;}
.title h1 span{
	color: #3F3F3F;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 22px;
	font-weight:normal;
	font-style:italic;
	text-align: left;
}
.page-container{}
.colset{}
.col2 .left{ width:185px;}
.col2 .main{float:right; width:796px;}
h3.box-title{padding:0 15px;}

.nav-box{margin:0 0 15px; background:#F1F1F1; padding:10px 0;}
.left-nav{list-style:none; margin:0; padding:0;}
.left-nav li{display:block; margin:0;}
.left-nav li a{display:block; line-height:30px; padding:0 15px; color:#1C1B1B;}
.left-nav li a:hover{color:#000;}

.user-profile{}
.user-profile .profile-picture{float:left; width:185px; margin-right:20px;}
.user-profile .account-info{width:350px; float:left;}
.user-profile .account-pop{width:220px; float:right;}

.profile-picture .picture{width:100%; line-height:1;}
.profile-picture .picture .mainimg{width:100%; border:1px solid #999; margin:0 0 5px;}
.profile-picture .edit{float:left;}
.profile-picture .delete{float:right;}
.profile-picture .edit img{float:left; margin:1px 5px 0 0;}
.profile-picture .delete img{float:left; margin:2px 5px 0 0;}

h2.sub-title{color: #444444; font-size: 20px; font-weight: bold; line-height:1; padding-bottom:4px;}
.bordered{border-bottom:1px solid #E2E2E2;}
.user-profile .tbtn{margin-top:6px;}
ul.info-list li{margin:0 0 8px; color: #4D4D4D; font-size: 14px;}
ul.info-list li span{display:block; color:#000; font-weight:bold;}

.pop-box{color: #000000; font-size: 16px; font-weight: bold; margin:0 0 5px;}
.pop-box .num{float:right; color:#4d4d4d;}
.back-link{line-height:26px; font-size:14px; float:left; margin:0 0 15px; display:block;}
.look-listing{margin:0 0 40px;}
.portfolio 
.portfolio-row{
	height:295px;
	margin-bottom:20px;
}
.portfolio-row  .pbox{
  border: 1px solid #D2D2D2;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 26px;
  height: 291px;
  text-align: center;
  width: 228px;
  overflow:hidden;
  position:relative;
  margin-right:20px;
}
.portfolio-row  .look-info{
	margin-left:20px;
	margin-right:0;
}
.portfolio-row  .pbox  a.img{display:block; line-height:290px; height:100%; width:100%; text-align:center;}
.portfolio-row  .pbox  img{max-height:100%; max-width:100%; vertical-align:middle;}
.portfolio-row  .pbox .sinfo {background:rgba(0,0,0,0.6); color:#fff; position:absolute; bottom:0; opacity:0; left:0; right:0; padding:10px; font-size:14px; font-weight:normal; text-align:left;  box-shadow:0 0 10px rgba(0,0,0,0.5); -moz-box-shadow:0 0 10px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5); transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s;}
.look-info.pbox .sinfo{ padding-bottom:35px;}
.portfolio-row  .pbox:hover .sinfo{opacity:1;}
.sinfo .edit-icn,
.sinfo .delete-icn{display:block; position:absolute; bottom:0;}
.sinfo .edit-icn{ left:0; right:50%;}
.sinfo .delete-icn{right:0; left:50%; text-align:right;}
.look-info.pbox .sinfo a{color:#fff; font-weight:bold; display:block; padding:5px 10px; background:rgba(0,0,0,0.5);}
.top-part{margin:0 0 15px;}
.look-info.pbox .sinfo a:hover{color:#eee;  background:rgba(255,255,255,0.5);}
.profile-picture {border:1px solid #ddd;}
.account-info .info{font-size:18px; font-weight:bold; color:#000;}
.account-info .info span{ font-style:italic; color:#666; width:140px; float:left; display:block;}

.paginate { text-align:center; display:block; padding:10px; height:25px;}
.paginate ul{list-style:none;margin:5px 0;}
.paginate li{ display:inline-block;}
.paginate li span {
  background: none repeat scroll 0 0 #F4F4F4;
  border: 1px solid #CCCCCC;
  color: #AAAAAA;
  font-weight: bold;
  margin: 0 3px;
  padding: 4px 10px;
}
.paginate li span a{color:#000;}






















/* Alerts */
#flashMessage,
.flash{
display: block;
margin: 0 0 15px 0;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #B5E5EF url(../img/admin/icn_alert_info.png) no-repeat;
background-position: 10px 10px !important;
border: 1px solid #77BACE;
color: #082B33;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

.flash.flash_alert{
background: #F5F3BA url(../img/admin/icn_alert_warning.png) no-repeat;
border: 1px solid #C7A20D;
color: #796616;}

.flash.flash_error {
background: #F3D9D9 url(../img/admin/icn_alert_error.png) no-repeat;
border: 1px solid #D20009;
color: #7B040F;}

.flash.flash_success{
background: #E2F6C5 url(../img/admin/icn_alert_success.png) no-repeat;
border: 1px solid #79C20D;
color: #32510F;}
